.buttonContainer {
  display: inline-grid;
  grid-template-columns: max-content max-content;
  grid-gap: 1em;
  justify-items: center;
}

.buttonContainer button {
  margin-top: 1em;
  outline: none;
  border: none;
  padding: 0.75em 1em 0.75em 1em;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
}

.buttonContainer button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.search {
  display: grid;
  grid-template-columns: max-content auto max-content;
  max-width: 38em;
  width: 90vw;
  min-width: 400px;
  margin: 0.5em;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  align-items: center;
}
.search input {
  border: none;
  outline: none;
}
.microphoneIcon {
  /* height: 1.5em;
      width: 1.5em; */
  padding: 0.75em 1.25em 0.75em 1.25em;
  color: #4285f4;
  /* padding-right: 1em; */
}
.searchIcon {
  /* height: 1.5em;
        width: 1.5em; */
  padding: 0.75em 1.25em 0.75em 1.25em;
  color: grey;
  /* padding-right: 1em; */
}

.flexCenter {
  display: flex;
  justify-content: center;
}
